<div class="container" id="all">
	<br>
	<div class="jumbotron jumbotron-fluid box-shadow" background-color="#e9ecef">
		<div style="text-align: center;"><h1 class="display-4">Send Message</h1></div>
		<br>
		<input id="name" class="form-control" placeholder="Name">
		<br>
		<input id="message" class="form-control" placeholder="Your Message Here"/>
		<br>
		<button id="send" class="btn btn-success">Send</button>
		<div class="toast hide position-fixed top-0 end-0 p-2 rounded" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="toast-body">
				Message vide
				<button type="button" class="btn-close position-absolute end-0 translate-middle-x" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
		</div>
	</div>
	<div id="messages" class="my-3 p-3 bg-white rounded box-shadow"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
