<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Index page</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/navbar.js"></script>
</head>
<body class="bg-light">
<header class="header">
    <nav class="navbar navbar-light">
        <ul></ul>
        <span class="navbar-text">
            <div id="pseudo">Chargement du pseudo</div>
        </span>
        <ul></ul>
    </nav>
</header>
